@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    font-family: sans;
    --max-width: 800px;
}

body {
    margin: 0;
    background-color: #4e545a;
}

/* Header */

header {
    background-color: #3a4147;
    padding-top: 1em;
}

header h1 {
    height: 80px;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

/* Social Media Icons */

#socialMediaButtons {
    display: table;
    margin: 0 auto;
}

#socialMediaButtons a {
    width: 64px;
    height: 64px;
    margin: 4px;
    display: block;
    float: left;
    color: var(--socialMediaColor);
    fill: var(--socialMediaColor);
    border-radius: 100%;

    -webkit-transition: background-color 0.8s,
        -webkit-transform 0.8s ease-out;
    transition: background-color 0.8s,
        -webkit-transform 0.8s ease-out;
    transition: background-color 0.8s,
        transform 0.8s ease-out;
    transition: background-color 0.8s,
        transform 0.8s ease-out,
        -webkit-transform 0.8s ease-out;
}

#socialMediaButtons a:hover {
    background: var(--socialMediaColor);
    color: white;
    fill: white;
}

#socialMediaButtons .github {
    --socialMediaColor: #171515;
}

#socialMediaButtons .linkedin {
    --socialMediaColor: #0a66c2;
}

/* Page Content */

.content {
    margin: auto;
    max-width: var(--max-width);
    background-color: #f1f1f1;
    padding: 1px 14px;
}

/* Drop Down Content */

.collapsibleButton {
    background-color: #323741;
    width: 100%;
    cursor: pointer;
}

.collapsibleActive {
    background-color: #282e35;
}

.collapsibleButton:hover {
    background-color: #212b2f;
}

.collapsible {
    background-color: #2f343f;
    padding: 18px;
    margin: auto;
    width: var(--max-width);
    max-width: calc(100% - 33px);
    color: white;
    font-size: 15px;
}

.collapsibleActive .collapsible {
    background-color: #252d32;
}

.collapsibleButton:hover .collapsible {
    background-color: #1e282c;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsibleActive .collapsible:after {
    content: "\2212";
}

.collapsibleContent {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.0.8s ease-out;
    background-color: #d6d6d6;
}